@using Publi4.Controllers
@model Publi4.Models.AccountViewModels.UserChangePasswordViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@Publi4.Controllers.UsersController.PageTitle</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Editar</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar @UsersController.ContentName.ToLower()</h5>
                </div>
                <div class="ibox-content">
                    <div class="ibox-title">
                        <h5>Detalhes @UsersController.ContentName.ToLower()</h5>
                    </div>
                    <div class="ibox-content">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.LastName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                        </dl><a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
                        <a asp-action="Index">Voltar</a>
                    </div>
                    <form asp-action="ChangePassword">
                        <div class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="CurrentPassword" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="CurrentPassword" class="form-control" />
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="NewPassword" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-primary ladda-button" data-style="zoom-in">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


