@using Publi4.Controllers
@model Publi4.Models.AccountViewModels.UserForCreationViewModel

@{
    ViewBag.Title = "Detalhes";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@Publi4.Controllers.UsersController.PageTitle</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Detalhes</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalhes @UsersController.ContentName.ToLower()</h5>
                </div>
                <div class="ibox-content">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                    </dl><a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Index" class="btn btn-white">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>













