@model Publi4.Domain.Entities.CompanyEntity

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-sm-4">
        <h2>@ViewBag.PageTitle</h2>
        <ol class="breadcrumb">
          <li>
            @Html.ActionLink("Lista", "Index")
          </li>
          <li class="active">
            <strong>Apagar</strong>
          </li>
        </ol>
      </div>
      <div class="col-sm-8">
        <div class="title-action">
          @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
        </div>
      </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Apagar @ViewBag.ContentName</h5>
                </div>
                <div class="ibox-content">
                    <h4 class="text-danger">Tem certeza que deseja apagar este item?</h4>
                    <dl class="dl-horizontal">
                        <input type="hidden" asp-for="IdCompany" />
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                    </dl>
                    
                    <form asp-action="Delete" id="inputForm">
                        <div class="form-actions no-color">
                            <button value="Apagar" class="btn btn-primary ladda-button" data-style="zoom-in">Apagar</button>
                            <a asp-action="Index" class="btn btn-white">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
